body,
html {
    margin: 0;
    padding: 0;
}

header {
    grid-area: nav;
    background-color: #9c64a6;
    width: 100%;
    height: 10vh;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buscador {
    grid-area: bus;
    height: 15vh;
    background-color: #ce93d8;
    text-align: center;
    padding-top: 1vh;
}

main {
    grid-area: pri;
    display: grid;
    grid-template-columns: 1fr;
    height: 60vh;
    justify-items: center;
    background-color: white;
    padding: 2vh;
}

footer {
    grid-area: foo;
    background-color: #ba8bc2;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Contenedor-grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "nav"
        "bus"
        "pri"
        "foo";
}

header i {
    padding-right: 2vw;
}

.titulo {
    display: flex;
    padding-left: 2vw;
    align-items: center;
}

.menu {
    display: none;
}

.buscador select {
    width: 80%;
    height: 40%;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    height: 50vh;
    background-color: white;
    padding: 0 10%;
}

.producto img {
    height: 30vh;
    width: 100%;
}

button {
    background-color: #9c64a6;
}

button:hover {
    background-color: #ba8bc2;
}

@media (max-width:576px) {
    .dos {
        display: none;
    }
}

@media(min-width:576px) {
    .Contenedor-grid {
        grid-template-columns: 20% 1fr;
        grid-template-areas:
            "nav bus"
            "nav pri"
            "nav pri"
            "foo pri";
    }

    header {
        flex-direction: column;
        height: 100%;
        padding-top: 10%;
        justify-content: flex-start;
        color: white;
    }

    .titulo {
        justify-content: space-around;
        padding-left: 2%;
    }

    .titulo h1 {
        font-size: x-large;
    }

    header #barras {
        display: none;
    }

    header i {
        padding-right: 1vw;
    }

    .menu {
        padding: 5% 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu li {
        padding: 5% 0;
    }

    .menu a:hover {
        background-color: black;
        color: white;
    }

    .menu a {
        text-decoration: none;
        color: white;
    }

    main {
        grid-template-columns: repeat(4, 1fr);
        height: 100%;
        width: 100%;
        justify-items: center;
        gap: 1%;
    }

    .tarjeta {
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .producto img {
        height: auto;
        width: 100%;
    }

    footer {
        height: 100%;
        text-align: center;
        justify-content: space-around;
    }

    .buscador select {
        width: 95%;
    }
}